In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jinchang,CN,2021-03-21 19:44:05,38.4953,102.1739,34.03,24,0,4.88
1,1,Port Alfred,ZA,2021-03-21 19:44:06,-33.5906,26.8910,64.89,70,90,9.10
2,2,Bethel,US,2021-03-21 19:44:06,41.3712,-73.4140,64.40,16,1,8.05
3,3,Bulungu,CD,2021-03-21 19:44:06,-4.5500,18.6000,72.54,90,99,2.98
4,4,Ushuaia,AR,2021-03-21 19:44:06,-54.8000,-68.3000,55.40,58,40,18.41

In [15]:
# city_data_df.info()

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [6]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Add values from max temp
max_temp = city_data_df["Max Temp"]
max_temp = [max(temp, 0) for temp in max_temp]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

,City_Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bulungu,CD,2021-03-21 19:44:06,-4.5500,18.6000,72.54,90,99,2.98
5,5,Atuona,PF,2021-03-21 19:44:06,-9.8000,-139.0333,80.29,77,2,13.80
6,6,Rikitea,PF,2021-03-21 19:44:07,-23.1203,-134.9692,80.13,71,0,7.54
9,9,Taoudenni,ML,2021-03-21 19:44:07,22.6783,-3.9836,74.62,14,0,12.46
10,10,Sydney,AU,2021-03-21 19:41:13,-33.8679,151.2073,66.20,94,75,11.50
12,12,Port Lincoln,AU,2021-03-21 19:44:08,-34.7333,135.8667,68.05,75,7,7.78
15,15,Harper,LR,2021-03-21 19:44:09,4.3750,-7.7169,79.93,86,54,9.57
25,25,Cape Town,ZA,2021-03-21 19:43:24,-33.9258,18.4232,68.00,59,0,16.11
28,28,Tiruchchirappalli,IN,2021-03-21 19:44:11,10.8167,78.6833,80.60,83,40,4.61
32,32,Grand Gaube,MU,2021-03-21 19:44:12,-20.0064,57.6608,80.01,82,1,5.99

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

         City Country  Max Temp      Lat       Lng Hotel Name
3     Bulungu      CD     72.54  -4.5500   18.6000
5      Atuona      PF     80.29  -9.8000 -139.0333
6     Rikitea      PF     80.13 -23.1203 -134.9692
9   Taoudenni      ML     74.62  22.6783   -3.9836
10     Sydney      AU     66.20 -33.8679  151.2073

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.info(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 3 to 695
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        311 non-null    object
 1   Country     308 non-null    object
 2   Max Temp    311 non-null    float64
 3   Lat         311 non-null    float64
 4   Lng         311 non-null    float64
 5   Hotel Name  311 non-null    object
dtypes: float64(3), object(3)
memory usage: 27.0+ KB

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))