## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/bobc/Repositories/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Souillac,-20.5167,57.5167,73.40,100,20,4.61,MU,few clouds
1,1,Cayenne,4.9333,-52.3333,80.01,88,20,2.30,GF,few clouds
2,2,Bluff,-46.6000,168.3333,63.00,73,11,3.00,NZ,few clouds
3,3,Yellowknife,62.4560,-114.3525,8.60,52,1,9.22,CA,clear sky
4,4,Butaritari,3.0707,172.7902,81.91,79,25,16.91,KI,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

,City_Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Souillac,-20.5167,57.5167,73.40,100,20,4.61,MU,few clouds
8,8,Geraldton,-28.7667,114.6000,69.80,52,0,12.66,AU,clear sky
13,13,Castro,-24.7911,-50.0119,65.21,88,61,2.80,BR,broken clouds
15,15,Ravar,31.2656,56.8055,69.98,22,86,8.39,IR,overcast clouds
16,16,Najran,17.4924,44.1277,68.00,19,0,5.66,SA,clear sky
...,...,...,...,...,...,...,...,...,...,...
661,661,Safaga,26.7292,33.9365,66.20,26,0,14.97,EG,clear sky
666,666,Xuddur,4.1213,43.8894,70.16,64,0,10.69,SO,clear sky
684,684,Port Augusta,-32.5000,137.7667,68.00,52,0,14.97,AU,clear sky
688,688,Vilhena,-12.7406,-60.1458,68.56,96,69,3.24,BR,broken clouds
696,696,Letlhakane,-21.4167,25.5833,70.11,56,51,10.33,BW,broken clouds

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

hotel_df = preferred_cities_df
hotel_df

,City_Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Souillac,-20.5167,57.5167,73.40,100,20,4.61,MU,few clouds
8,8,Geraldton,-28.7667,114.6000,69.80,52,0,12.66,AU,clear sky
13,13,Castro,-24.7911,-50.0119,65.21,88,61,2.80,BR,broken clouds
15,15,Ravar,31.2656,56.8055,69.98,22,86,8.39,IR,overcast clouds
16,16,Najran,17.4924,44.1277,68.00,19,0,5.66,SA,clear sky
...,...,...,...,...,...,...,...,...,...,...
661,661,Safaga,26.7292,33.9365,66.20,26,0,14.97,EG,clear sky
666,666,Xuddur,4.1213,43.8894,70.16,64,0,10.69,SO,clear sky
684,684,Port Augusta,-32.5000,137.7667,68.00,52,0,14.97,AU,clear sky
688,688,Vilhena,-12.7406,-60.1458,68.56,96,69,3.24,BR,broken clouds
696,696,Letlhakane,-21.4167,25.5833,70.11,56,51,10.33,BW,broken clouds

In [21]:
# 4a. Determine if there are any empty rows.
hotel_df.empty == True

False

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
hotel_df.dropna(0)
hotel_df

,City_Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Souillac,-20.5167,57.5167,73.40,100,20,4.61,MU,few clouds
8,8,Geraldton,-28.7667,114.6000,69.80,52,0,12.66,AU,clear sky
13,13,Castro,-24.7911,-50.0119,65.21,88,61,2.80,BR,broken clouds
15,15,Ravar,31.2656,56.8055,69.98,22,86,8.39,IR,overcast clouds
16,16,Najran,17.4924,44.1277,68.00,19,0,5.66,SA,clear sky
...,...,...,...,...,...,...,...,...,...,...
661,661,Safaga,26.7292,33.9365,66.20,26,0,14.97,EG,clear sky
666,666,Xuddur,4.1213,43.8894,70.16,64,0,10.69,SO,clear sky
684,684,Port Augusta,-32.5000,137.7667,68.00,52,0,14.97,AU,clear sky
688,688,Vilhena,-12.7406,-60.1458,68.56,96,69,3.24,BR,broken clouds
696,696,Letlhakane,-21.4167,25.5833,70.11,56,51,10.33,BW,broken clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,73.40,few clouds,-20.5167,57.5167,
8,Geraldton,AU,69.80,clear sky,-28.7667,114.6000,
13,Castro,BR,65.21,broken clouds,-24.7911,-50.0119,
15,Ravar,IR,69.98,overcast clouds,31.2656,56.8055,
16,Najran,SA,68.00,clear sky,17.4924,44.1277,
18,Dillon,US,69.80,clear sky,34.4166,-79.3712,
23,Airai,TL,71.96,scattered clouds,-8.9266,125.4092,
24,Hirara,JP,71.60,few clouds,24.8000,125.2833,
26,Sao Filipe,CV,71.67,clear sky,14.8961,-24.4956,
28,Beloha,MG,66.18,few clouds,-25.1667,45.0500,

In [25]:
# 6a. Set parameters to search for a hotel within 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b.  Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    #6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #6e. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    #6f. Get the first hotel from the results and store the name, 
    #    if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,73.40,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
8,Geraldton,AU,69.80,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
13,Castro,BR,65.21,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
15,Ravar,IR,69.98,overcast clouds,31.2656,56.8055,computertik
16,Najran,SA,68.00,clear sky,17.4924,44.1277,محمد هادي ال فطيح
...,...,...,...,...,...,...,...
661,Safaga,EG,66.20,clear sky,26.7292,33.9365,Lamar Resort Abu Soma
666,Xuddur,SO,70.16,clear sky,4.1213,43.8894,Banjanay Hotel
684,Port Augusta,AU,68.00,clear sky,-32.5000,137.7667,Majestic Oasis Apartments
688,Vilhena,BR,68.56,broken clouds,-12.7406,-60.1458,Hotel Mirage
696,Letlhakane,BW,70.11,broken clouds,-21.4167,25.5833,Motswedi Hotel P650

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(0,subset=["Hotel Name"])

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,73.40,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
8,Geraldton,AU,69.80,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
13,Castro,BR,65.21,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
15,Ravar,IR,69.98,overcast clouds,31.2656,56.8055,computertik
16,Najran,SA,68.00,clear sky,17.4924,44.1277,محمد هادي ال فطيح
...,...,...,...,...,...,...,...
661,Safaga,EG,66.20,clear sky,26.7292,33.9365,Lamar Resort Abu Soma
666,Xuddur,SO,70.16,clear sky,4.1213,43.8894,Banjanay Hotel
684,Port Augusta,AU,68.00,clear sky,-32.5000,137.7667,Majestic Oasis Apartments
688,Vilhena,BR,68.56,broken clouds,-12.7406,-60.1458,Hotel Mirage
696,Letlhakane,BW,70.11,broken clouds,-21.4167,25.5833,Motswedi Hotel P650

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "hotel_data.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_Id")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template 
# and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))