## Deliverable 1: Retrieve Weather Data

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# import weather key
from config import wkey2
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# url = "http://api.openweathermap.org/data/2.5/weather?"
import requests
import json
# Import the datetime module from the datetime library.
from datetime import datetime

In [2]:
# 1. Created folder: Weather_Database (Repositories/WorldWeather_Analysis/Weather_Database)
# 2. Created Weather_Database.ipynb file

In [3]:
# 3. Create a new set of 2,000 random latitudes amd longitudes

lats = np.random.uniform(low=-90.000, high=90.000, size=2000)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2000)
lat_lngs = zip(lats, lngs)

In [4]:
#4. Get the nearest city using the citypy module
# Create a list for holding the cities.
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)


cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
len(cities)

709

In [5]:
#5. Perform an API call with the OpenWeatherMap.

# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + wkey2
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=e9c5d546157f33a0632eca98f320268e

In [6]:
#6. Retrieve Information from API call: Lat, Lng, Perfect humidity, Pefect cloudiness,
#   Wind speed, Weather description eg clouds, fog, light rain, clear sky)

#  Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
#     print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_description = city_weather["weather"][0]["description"]
#         # Convert the date to ISO standard.
#         city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                        "Current Description": city_description})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [7]:
#7. Add data to new dataframe and display
# Convert the array of dictionaries to a Pandas DataFrame.

# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(2)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,Aswan,24.0934,32.907,67.42,21,0,16.33,EG,clear sky
1,Kapaa,22.0752,-159.319,79.00,73,40,3.44,US,scattered clouds

In [8]:
# Reorder columns
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", 
                    "Humidity", "Cloudiness", "Wind Speed", "Current Description"]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
1,Kapaa,US,22.0752,-159.3190,79.00,73,40,3.44,scattered clouds
2,Avera,US,33.1940,-82.5271,84.20,48,75,14.97,broken clouds
3,Esperance,AU,-33.8667,121.9000,53.60,94,75,5.75,broken clouds
4,Russell,US,32.3502,-85.1999,82.40,54,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...
635,Stromness,GB,58.9650,-3.2960,46.40,76,100,17.27,overcast clouds
636,Vadgaon,IN,20.9402,74.8712,83.37,14,0,5.70,clear sky
637,Centralia,US,46.7162,-122.9543,50.00,81,90,3.44,overcast clouds
638,Kaeo,NZ,-35.1000,173.7833,67.19,71,100,9.84,overcast clouds
639,Ishigaki,JP,24.3448,124.1572,70.14,72,0,13.71,clear sky

In [9]:
#8. # Save Data to csv

city_data_df.to_csv("WeatherPy_Database.csv", index_label="City_Id")

# Visualize to confirm data appears

city_data_csv = "WeatherPy_Database.csv"

city_data_csv_df = pd.read_csv(city_data_csv)
city_data_csv_df

,City_Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
1,1,Kapaa,US,22.0752,-159.3190,79.00,73,40,3.44,scattered clouds
2,2,Avera,US,33.1940,-82.5271,84.20,48,75,14.97,broken clouds
3,3,Esperance,AU,-33.8667,121.9000,53.60,94,75,5.75,broken clouds
4,4,Russell,US,32.3502,-85.1999,82.40,54,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
635,635,Stromness,GB,58.9650,-3.2960,46.40,76,100,17.27,overcast clouds
636,636,Vadgaon,IN,20.9402,74.8712,83.37,14,0,5.70,clear sky
637,637,Centralia,US,46.7162,-122.9543,50.00,81,90,3.44,overcast clouds
638,638,Kaeo,NZ,-35.1000,173.7833,67.19,71,100,9.84,overcast clouds
639,639,Ishigaki,JP,24.3448,124.1572,70.14,72,0,13.71,clear sky